{% extends "base.html" %}

{% block content %}
    <h1>Список профессий</h1>
    {% set prof_list = ['инженер исследовать', 'пилот', 'строитель', 'экзобиолог', 
    'врач', 'инженер по терраформированию', 'климатолог', 'специалист по радиационной защите', 
    'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метеоролог', 
    'оператор марсохода', 'киберинежнер', 'штурман', 'пилот дронов']%}
    
    {%if url_list == 'ol'%}
        {%for prof in prof_list%}
            <ol>{{loop.index}}. {{ prof }}</ol>
        {%endfor%}
    {%elif url_list == 'ul'%}
            {%for prof in prof_list%}
                <li>{{ prof }}</li>
            {%endfor%}  
    {%else%}
        <h1>ERROR</h1>        
    {%endif%} 

{% endblock %}