{% extends "base.html" %}

{% block content %}
    <h1>И на марсе будут яблони цвести!</h1>
    {%if 'Инженер' in prof or 'Строитель' in prof%}
        <h2>Инженерные стимуляторы</h2>
        <img src="images/engineer.png" alt="Тут должен быть инженер/строитель, но почему-то не загрузился ;()">
    {%endif%}    
    {%if 'Врач' in prof%}
        <h2>Научные стимуляторы</h2>
        <img src="images/doctor.png" alt="Тут должен быть врач, но почему-то не загрузился ;()">   
    {%endif%}    
{% endblock %}